/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;
@import '~@spartacus/styles/index';
@import '~@spartacus/checkout/styles';

app-express-cart-totals {
  @extend %cx-cart-totals;
}

lib-checkout-com-express-googlepay .gpay-card-info-container {
  width: 100%;
  height: 48px;
}
